.intro__text {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
max-width: 690px;
margin: 40px 0 33px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    margin: 35px 0 33px 0;
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro__text {
    margin: 40px 0 34px 0;
    max-width: 288px;
  }
}
