.place__website {
  align-self: end;
  margin-bottom: -3px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .place__website {
    padding-left: 16px;
  }
}
